.contact{
    /* padding: 0px; */
    margin: 0px;
    width: 100%;
    height: 100%;
    background-color: var(--main-colour4);
    /* padding: 3rem; */
    padding: 8rem 0rem;
    position: relative;
    z-index: 999;
    
    /* margin-top: 100vh; */
}

@font-face {
    font-family: 'titania';
    src: url('../../fonts/titania/Titania-Regular.ttf');
}

@font-face {
    font-family: 'arcane';
    src: url('../../fonts/arcane_nine/Arcane\ Nine.otf');
}

.contactHead{
    padding: 0px;
    margin: 0px;
    margin-bottom: 2rem;
    font-size: 2.5rem;
    color: var(--main-colour2);
    font-family: 'titania';
    font-weight: 400;
    /* animation-name: headAnim;
    animation-timeline: view(); */
    display: flex;
    align-items: center;
    justify-content: center;
}

.mainContent{
    display: flex;
    padding: 1rem 0px;
    /* padding: 2rem 0rem; */
    align-items: center;
    justify-content: center;

    /* flex-direction: row-reverse; */
}



.mainForm{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 70%;
}

.formInput{
    background-color: var(--main-colour4);
    border: 1px solid var(--main-colour3);
    border-radius: 10px;
    outline: none;
    margin-bottom: 10px;
    font-size: 20px;
    width: 80%;
    padding: 10px;
    color: var(--main-colour2);
}
#message{
    background-color: var(--main-colour4);
    border: 1px solid var(--main-colour3);
    /* border-bottom: 1px solid var(--main-colour2); */
    outline: none;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    width: 80%;
    height: 200px;
    color: var(--main-colour2);
}

.formInput:focus, .formText:focus{
    outline: none;
}
.formInput::placeholder, .formText::placeholder{
    color: var(--main-colour3);
}

.sendBtn {
    background-color: var(--main-colour4);
    color: var(--main-colour2);
    border-radius: 10em;
    font-size: 17px;
    font-weight: 600;
    padding: 1rem 2rem;
    width: 80%;
    /* padding: 1em 2em; */
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border: 1px solid var(--main-colour2);
    box-shadow: 0 0 0 0 var(--main-colour2);
    margin-top: 1rem;
  }
  
  .sendBtn:hover {
    transform: translateY(-4px) translateX(-2px);
    box-shadow: 2px 5px 0 0 var(--main-colour2);
  };
  
.sendBtn:active {
    transform: translateY(2px) translateX(1px);
    box-shadow: 0 0 0 0 var(--main-colour2);
  };

  @keyframes headAnim {
    from {
        /* transform: rotateX(-90deg); */
        filter: opacity(0);
        transform: translateX(-100px);
    }
    to{
        filter: opacity(1);
        /* transform: rotateX(0deg); */
        transform: translateX(0px);
    }
}
  @keyframes rightAnim {
    from {
        /* transform: rotateX(-90deg); */
        filter: opacity(0);
        transform: translateX(100px);
    }
    to{
        filter: opacity(1);
        /* transform: rotateX(0deg); */
        transform: translateX(0px);
    }
}
  @keyframes leftAnim {
    from {
        /* transform: rotateX(-90deg); */
        filter: opacity(0);
        transform: translateY(100px);
    }
    to{
        filter: opacity(1);
        /* transform: rotateX(0deg); */
        transform: translateX(0px);
    }
}