.Works{
    /* overflow: hidden; */
    width: calc(100vw - 2*8px);
    /* width: 100vw; */
    /* height: 100vh; */
    /* background-color: var(--var-colour); */
    /* padding: 2rem 5rem; */
    background-color: var(--main-colour1);
    position: relative;
    z-index: 999;
    /* width: 100vw; */
    /* background-color: aqua; */
    margin: 0px;padding: 0px;
    /* padding: 5rem; */
}


.mainHeadText{
    color: var(--main-colour3);
    padding-top: 4rem;
    /* color: var(--main-colour2); */
    font-family: 'titania';
    font-size: 2.5rem;
    font-weight: 400;
}

.allworksDiv{
    /* columns: 300px; */
    /* width: 10rem; */
    /* display: flex; */
    /* flex-wrap: wrap; */
    padding: 1rem 5rem;
    column-count: 3;
    
    /* height: 90vh; */
}

.singlework > img{
    width: 100%;
    /* height: 20rem;
    object-fit: cover; */
    /* width: 350px; */
    object-fit: cover;
    height: 100%;
}

.singlework{
    padding-top: 10px;
    cursor: pointer;
    z-index: 888;
    position: relative;
    /* animation-name: singlework; */
    
}




#singleWork1{
    /* animation: singlework 1s ease; */

    animation: singlework both;
    animation-timeline: view(80% 20%);
}
#singleWork2{
    /* animation: singlework 1.5s ease; */
    animation: singlework both;
    animation-timeline: view(80% 20%);
}
#singleWork3{
    /* animation: singlework 2s ease; */
    animation: singlework both;
    animation-timeline: view(80% 20%);
}
#singleWork4{
    /* animation: singlework 2.5s ease; */
    animation: singlework both;
    animation-timeline: view(80% 20%);
}
#singleWork5{
    /* animation: singlework 3s ease; */
    animation: singlework both;
    animation-timeline: view(80% 20%);
}
#singleWork6{
    /* animation: singlework 3.5s ease; */
    animation: singlework both;
    animation-timeline: view(80% 20%);
}
@keyframes singlework {
    from{
        transform: translateY(50rem);
        filter: opacity(0);
    }
    to{
        transform: translateY(0rem);
        filter: opacity(1);
    }
}
/* @keyframes singlework {
    from{
        transform: translateY(50rem);
    }
    to{
        transform: translateY(0rem);
    }
} */

h1{
    color: var(--main-colour4);
    animation-name: headAnim;
    animation-timeline: view(80% 40%);
    /* padding: 0px 5rem; */
    margin: 0px;
}

header{
    margin: 0px;
    padding: 0px 5rem ;
}

@keyframes headAnim {
    from {
        /* transform: rotateX(-90deg); */
        filter: opacity(0);
        transform: translateX(-100px);
    }
    to{
        filter: opacity(1);
        /* transform: rotateX(0deg); */
        transform: translateX(0px);
    }
}

.allworksDiv:hover .singlework:not(:hover){
    /* filter: grayscale(1); */
    /* filter: grayscale(1) blur(5px); */
    transition: all 0.7s ease-in-out;
}


.singlework > h3{
    color: var(--main-colour3);
    position: absolute;
    top: 0;
    z-index: 999;
    left: 10px;
}

.viewAllDiv{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    
}

.allWorksBtn{
    color: var(--main-colour2);
    background-color: var(--main-colour4);
    border: 1px solid var(--main-colour2);
    font-size: large;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    
}

/* From Uiverse.io by sekaiking */ 
.allWorksBtn {
    background-color: var(--main-colour4);
    color: var(--main-colour2);
    border-radius: 10em;
    font-size: 17px;
    font-weight: 600;
    padding: 1em 2em;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border: 1px solid var(--main-colour2);
    box-shadow: 0 0 0 0 var(--main-colour2);
  }
  
  .allWorksBtn:hover {
    transform: translateY(-4px) translateX(-2px);
    box-shadow: 2px 5px 0 0 var(--main-colour2);
  };
  
.allWorksBtn:active {
    transform: translateY(2px) translateX(1px);
    box-shadow: 0 0 0 0 var(--main-colour2);
  };


  @keyframes autoScrollAnim {
    from {
        transform: rotate(0deg);
        /* filter: opacity(0);
        transform: translateX(-100px); */
    }
    to{
        transform: rotate(90deg);
        /* filter: opacity(1);
        transform: translateX(0px); */
    }
}


.itemDiv{
    /* width: 100rem; */
    width: 50vw;

    height: 60vh;
    /* object-fit: cover; */
    margin: 0px 10rem;
    /* background-color: aqua; */
    cursor: pointer;
}

.stickyParent{
    height: 400vh;
}

.sticky{
    overflow: hidden;
    position: sticky;
    top: 0;
    height: 100vh;
}

.scrollSection{
    position: absolute;
    top: 0;
    height: 100%;
    width: 400vw;
    will-change: transform;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 0 5vw; */
}

#img1{
    padding-left: 100vw;
}

#imgLast{
    padding-right: 100vw;
}

.itemDiv{
    position: relative;
}

.itemImg{
    /* position: relative;
    z-index: 777;
    width: 100%; */
    width: 50vw;
    height: 60vh;
    object-fit: cover;
}

.itemImgHead{
    position: absolute;
    top: 0;
    padding-left: 30px;
    /* left: 0; */
    z-index: 999;
    color: var(--main-colour1);
}

.itemImgText{
    position: absolute;
    top: 30px;
    padding-left: 30px;
    /* right: 30px; */
    /* left: 0; */
    z-index: 999;
    color: var(--main-colour3);
}

@media only screen and (max-width: 800px) {
    .allworksDiv{
        column-count: 2;
    }

    .itemImg{
        width: 80vw;
    }
}
@media only screen and (max-width: 500px) {
    .allworksDiv{
        column-count: 1;
    }
    .itemImg{
        width: 50vw;
    }
}