footer{
    width: 100%;
    height: 10vh;
    border-top:1px ridge var(--main-colour2);
    border-radius: 40px;
}
footer .footer-items{
   /* width: 100%; */
    /* height: 20px; */
    padding:2rem;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    gap:50px;
    height: 100%;
}
/* footer a{
    box-shadow: 0 40px 10px -18px rgba(0, 0, 0,0.2),0 40px 16px -12px rgba(0,0,0,0.2);
    font-size: 3em;
    display: inline-block;
    animation: anime 1s infinite ease-in-out alternate;
    animation-delay: .3s;
    -webkit-animation: anime 1s infinite ease-in-out alternate;
    width: fit-content;
  
} */
 footer a{
    font-size: 3em;
}

footer .Whatsapp{
   display: inline-block;
   animation: anime 1s infinite ease-in-out alternate;
   animation-delay: .3s;
   -webkit-animation: anime 1s infinite ease-in-out alternate;
   width: fit-content;
}
footer .Linked{
   display: inline-block;
   animation: anime 2s infinite ease-in-out alternate;
   animation-delay: .5s;
   -webkit-animation: anime 2s infinite ease-in-out alternate;
   width: fit-content;
}
 footer .Fb{
    display: inline-block;
    animation: anime 1s infinite ease-in-out alternate;
    animation-delay: .5s;
    -webkit-animation: anime 1s infinite ease-in-out alternate;
    width: fit-content;
 }
 footer .insta{
    display: inline-block;
    animation: anime 2s infinite ease-in-out alternate;
    animation-delay: .6s;
    -webkit-animation: anime 2s infinite ease-in-out alternate;
    width: fit-content;
 }


@keyframes anime{
    100%{
        transform: translateX(20px);
        transform: translateY(20px);
        -webkit-transform: translateY(20px);
        -moz-transform: translateY(20px);
        -ms-transform: translateY(20px);
        -o-transform: translateY(20px);
        /* box-shadow: 0 40px 10px -18px rgba(0, 0, 0,0.2),0 40px 16px -12px rgba(0,0,0,0.2);
        */

    }    
}

footer a:hover{
    color:#5ba964;
    filter: drop-shadow(2px 5px 41px #3cec7f);
  
    
}